@import 'src/styles/mixins';
@import 'src/styles/variables';

.requestFormLeft {
  padding: 0 20px;
  width: 100%;
  font-size: 14px;

  &__inputsPanel {
    position: relative;
    width: 100%;
    color: $accentColor;
    margin-bottom: 6px;

    &_trio {
      display: flex;
      flex-flow: nowrap row;
      justify-content: space-between;
    }
  }

  &__inputsItem {
    position: relative;
    width: 32%;

    &_halfCenter {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__selector {
    position: relative;
    color: $accentColor;
    margin-bottom: 4px;
  }

  &__info {
    @include flex-center;
    width: 100%;
    height: 38px;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid #92ABC8;
    background-color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $PTSansFont;

    &_leftAlign {
      justify-content: left;
      padding: 4px 14px;
    }

    &_horizontalPadding {
      justify-content: left;
      padding: 0 35px;
    }

    &_scrollable {
      overflow: auto;
      align-items: flex-start;
    }

    &_marked {
      box-shadow: 0 0 3px cornflowerblue;
    }
  }

  &__icon {
    position: absolute;
    cursor: pointer;
    @include size(20px);
    bottom: 15%;
    transform: scale(1);
    transition: transform .1s ease-out;

    &:hover {
      transform: scale(1.1);
    }

    &_phone {
      right: 21px;
    }

    &_info {
      left: 9px;
    }
  }

  &__label {
    font-family: $RalewayFont;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $accentColorLabelType;
    margin-left: 3px;

    &::first-letter {
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &_marked {
      text-shadow: 0 0 2px cornflowerblue;
    }

  }

  &__buttonsPanel {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    min-width: 300px;
    font-family: $RalewayFont;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 5px;
  }

  &__panelButton {
    position: relative;
    width: 150px;
    height: 100%;
    margin: 0 15px;
  }

}
