@import 'src/styles/variables';
@import 'src/styles/mixins';


.driver-card {
  width: 240px;
  height: 400px;
}

.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}

.ymaps-2-1-79-balloon__content {
  padding: 0 !important;
  background: transparent !important;
  margin: 0 !important;
}

.ymaps-2-1-79-balloon__layout {
  background: transparent !important;
  border: none !important;
}

.ymaps-2-1-79-balloon__close-button {
  background: transparent !important;
  font-size: 20px !important;
  color: $accentColor !important;

  &::after {
    //@include addMaterialAfter('highlight_off', 9px, 9px);
  }

}
