@import 'src/styles/mixins';
@import 'src/styles/variables';

.descriptionInsider {
  position: absolute;
  width: 544px;
  height: 302px;
  top: -333px;

  padding: 25px 0 0 38px;
  background: #FFFFFF;
  border: 1px solid #CDE3FF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 65px 99px rgba(101, 154, 221, 0.22);
  border-radius: 17px;

  // волшебное исчезание
  opacity: 0;
  transform: scaleY(0);

  transform-origin: bottom;
  transition-property: opacity, transform;
  will-change: transform, opacity;
  transition-duration: .4s;
  z-index: 999;


  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }

  &_viewed {
    opacity: .95;
    transform: scaleY(1);
  }

  &__icon {
    position: absolute;
    top: 25px;
    right: 40px;
    opacity: 50%;
    width: 56px;
  }

  &__text {
    font-family: $RalewayFont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    text-align: left;
    color: #000000;
  }

  &:hover {
    display: none;
  }

}
