$RalewayFont             : "Raleway", sans-serif;
$OswaldFont              : "Oswald", sans-serif;
$PTSansFont              : "Oswald", sans-serif;

$bgColor                 : rgba(0,0,0,1);
$mainFontColor           : #000;
$grayFonColor            : #ACACAC;

$mainFontSize            : 18px;
$mainLineHeight          : 20px;

$maxDesktopWidth         : 1920px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 767px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
