$RalewayFont: 'Raleway', sans-serif;
$OswaldFont: 'Oswald', sans-serif;
$PTSansFont: 'PT Sans', sans-serif;
$MaterialFont: 'Material Icons Round';

$bgColor: rgba(0, 0, 0, 1);
$mainFontColor: #1e1e1e;
$grayFontColor: #989898;
$accentColor: #023E8A;
$redColor: #C70707;
$greenColor: #74C259;

$cardsShadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), inset 128px 124px 64px rgba(158, 158, 158, 0.14), inset -107px -107px 76px rgba(158, 158, 158, 0.14);

$mainFontSize: 18px;
$mainLineHeight: 20px;

$maxDesktopWidth: 1920px;
$midDesktopWidth: 1440px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 767px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;


