@import 'src/styles/mixins';
@import 'src/styles/variables';

.cargoWeightInputToModal {

  &__inputsItem {
    position: relative;
    width: 50%;
    margin: 0 auto;
  }

  &__label {
    font-family: $RalewayFont;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #022554;
    margin-left: 3px;

    &::first-letter {
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

  &__footer {
    border-top: 1px solid #f0f0f0;
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    height: 45px;
  }

  &__button {
    width: 100px;
    margin: 0 5px;
  }
}
