@import 'src/styles/variables';
@import 'src/styles/mixins';

// миксин для наведения на выделенный и не только, с отменой по кнопке "открыть"
@mixin table-bg($color) {
  tr.selected, tr:hover {
    td {
      background-color: rgba($color, .5);
    }
    &:hover {
      td {
        background-color: rgba($color, .8);
      }
      td:nth-child(7) {
        background: none;
      }
    }
  }
}

.tableComponent {

  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: transparent;
  margin: 0 5px;

  table {
    width: 100%;
    border-spacing: 0;
    background-color: transparent;
    font-family: $PTSansFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    thead {
      color: #00224C;
      font-family: $RalewayFont;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;

      tr {
        border-radius: 20px;

        &:hover {
          background-image: none;
        }
      }

      th {
        border-bottom: 1px solid #023E8A;
      }
    }
  }

  tr:nth-child(2n+1) { //сделал зебру. посмотрим.
    td {
      background-color: white;
    }

    td:last-child {
      background-color: transparent;
    }
  }

  tr {
    td { // корректировка для firefox
      vertical-align: middle;
    }

    td:nth-child(1) {
      width: 100px;
      border-radius: 30px 0 0 30px;
    }

    td:nth-child(2) {
      width: 200px;
    }

    td:nth-child(3), td:nth-child(4), td:nth-child(6) {
      width: 80px;
    }

    td:nth-child(4) {
      text-align: right;
      padding-right: 20px;
    }

    td:nth-child(6) {
      border-radius: 0 30px 30px 0;
    }

    td:nth-child(7) {
      width: 110px;
      line-height: 19px;
      background: none;

      & > * {
        display: none;
      }
    }

    &:hover, &.selected {

      td:nth-child(7) {
        background: none;

        & > * { // отображение кнопки
          display: block;
        }
      }
    }


    th,
    td {
      margin: 0;
      text-align: center;
      padding: 0.1rem 0.5rem;
      white-space: nowrap;
      //transition: background-color .5s;
    }
  }

  &__search {
    @include table-bg($accentColor);
  }

  &__history {
    @include table-bg($grayFontColor);
  }

  &__status {
    @include table-bg($greenColor);
    cursor: pointer;
    user-select: none;
  }
}
