@import 'src/styles/mixins';
@import 'src/styles/variables';

.employeesForm {
  @include flex-center(column);
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 5% 15px 25px 15px;
  overflow-x: auto;
  background-color: $accentColor;

  &__wrapper {
    position: relative;
    max-width: 600px;
    background: #FFFFFF;
    border: 1px solid rgba(2, 62, 138, 0.54);
    box-shadow: $cardsShadow;
    border-radius: 25px;
    padding: 13px;
  }

  &__form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__status {
    position: absolute;
    top:15px;
    left: 20px;
    font-size: 70%;
    font-weight: bold;
    color: gray;

    &_cargoType {
      top: 30px;
      color: $accentColor;
    }
  }

  &__header {
    font-family: $RalewayFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: $accentColor;
    width: 100%;
  }

  &__inputsPanel {
    padding: 5px 10px;
    width: 330px;


    & > div {
      margin-bottom: 13px;
    }

    &_withSwitcher {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
    }

    &_titled { // панель встраивается в центр
      width: 100%;

      & > div {
        max-width: 320px;
        margin: 0 auto 13px;
      }
    }
  }

  &__inputsWithPhoto {
    padding-top: 5px;

    & > div {
      margin-bottom: 13px;
    }
  }

  &__photoWrapper {
    width: 220px;
    height: 180px;
  }

  &__buttonsPanel {
    @include flex-center(column);
    justify-content: space-between;
    height: 90px;
    margin-top: 20px;
    font-family: $RalewayFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  &__button {
    align-self: stretch;
    height: 40px;
  }

  &__attachFile {
    max-width: 30px;
    height: 30px;
    margin-left: 3px;

    &_absolute {
      position: absolute;
      top: 4px;
      right: 27px;
    }
  }
}
