@import 'src/styles/mixins';
@import 'src/styles/variables';

.infoSection {
  font-family: $RalewayFont;
  font-style: normal;
  font-weight: 700;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row;
  height: 100%;

  &__messagesContainer {
    flex-grow: 1;
    height: 100%;
  }

  &__infoPayContainer {
    max-width: 445px;
    height: 100%;
  }
}

.messagesContainer {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  color: $accentColor;

  &__header {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  &__label {
    padding-left: 5px;
    width: 49%;
    font-size: 20px;
    line-height: 1;
    text-align: left;
  }

  &__item {
    width: 49.5%;
    margin: 2px 0;


  }
}
