@import 'src/styles/variables';
@import 'src/styles/mixins';

$btnBlueFontColor: #fff;
$btnBlueBgColor: #023E8A;
$btnBlueBorderColor: $btnBlueBgColor;

$btnLightBlueFontColor: #7382A3;
$btnLightBlueBgColor: #E8ECF4;

$btnWhiteFontColor: #676e87;
$btnWhiteBgColor: #FFFFFF;

$btnPinkFontColor: #D43F3F;
$btnPingBgColor: #FFD7D7;

$btnGrayFontColor: #fff;
$btnGrayBgColor: #ACACAC;

$btnNoFillFontColor: #C7D3FF;
$btnNoFillBgColor: transparent;
$btnNoFillBorderColor: #A0B4FF;

$btnGreenBgColor: #74C259;
$btnGreenFontColor: #fff;
$btnGreenBorderColor: #74C25980;

.button {
  @include flex-center();
  border-radius: 2px;
  border: 1px solid transparent;

  font-family: $RalewayFont;
  font-style: normal;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  width: 100%;
  height: 100%;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .35);
  }

  &:disabled {
    opacity: .4;
  }

  &:active:disabled {
    box-shadow: 0 0 6px rgba(red, .8);
    color: red;
  }

  &:focus {
    border-color: black;
  }

  &_orange {
    background-color: orange;
    color: black;
  }

  &_blue {
    background-color: $btnBlueBgColor;
    color: $btnBlueFontColor;
    border-color:$btnBlueBorderColor;
  }

  &_pink {
    background-color: $btnPingBgColor;
    color: $btnPinkFontColor;
  }

  &_lightBlue {
    background-color: $btnLightBlueBgColor;
    color: $btnLightBlueFontColor;
  }

  &_gray {
    background-color: $btnGrayBgColor;
    color: $btnGrayFontColor;
  }

  &_white {
    background-color: $btnWhiteBgColor;
    color: $btnWhiteFontColor;
  }

  &_noFill {
    background-color: $btnNoFillBgColor;
    color: $btnNoFillFontColor;
    border: 1px solid $btnNoFillBorderColor;
  }

  &_green {
    background-color: $btnGreenBgColor;
    color: $btnGreenFontColor;
    border: 1px solid $btnGreenBorderColor;
  }

  &_rounded {
    border-radius: 9999px; // идеальное закругление при любой высоте
  }
}
