@import 'src/styles/variables';
@import 'src/styles/mixins';

$btnBlueFontColor: #fff;
$btnBlueBgColor: $accentColor;
$btnBlueBorderColor: $btnBlueBgColor;
$btnBlueDisabledBgColor: #ACACAC;
$btnBlueDisabledBorderColor: $btnBlueDisabledBgColor;

$btnLightBlueFontColor: #7382A3;
$btnLightBlueBgColor: #E8ECF4;

$btnWhiteBlueFontColor: inherit;
$btnWhiteBlueDisableFontColor: inherit;
$btnWhiteBlueBgColor: #00000000;
$btnWhiteBlueBorderColor: $accentColor;

$btnWhiteFontColor: #676e87;
$btnWhiteBgColor: #FFFFFF;

$btnPinkFontColor: #D43F3F;
$btnPingBgColor: #FFD7D7;

$btnGrayFontColor: #fff;
$btnGrayBgColor: #ACACAC;

$btnNoFillFontColor: #00000075;
$btnNoFillBgColor: transparent;
$btnNoFillBorderColor: $grayFonColor;

$btnGreenBgColor: #74C259;
$btnGreenFontColor: #fff;
$btnGreenBorderColor: #74C25980;
$btnGreenDisabledBgColor: #929090;
$btnGreenDisabledBorderColor: #6C6C6C;

$btnRedBgColor: #C70707;
$btnRedBorderColor: $btnRedBgColor;
$btnRedFontColor: #fff;
$btnRedDisabledBgColor: #929090;
$btnRedDisabledBorderColor: #6C6C6C;

.button {
  position: relative;
  @include flex-center();
  border-radius: 10px;
  border: 1px solid transparent;

  font-family: $RalewayFont;
  font-style: normal;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  //transform: translateY(0);
  transition: transform, box-shadow 0.2s ease-in-out;
  //will-change: transform, box-shadow;

  width: 100%;
  height: 100%;

  &_wrap {
    white-space: normal;
  }

  &:hover {
    //transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
  }

  &:active {
    //transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .35);
  }

  &:disabled {
    opacity: .4;
  }

  &:active:disabled {
    box-shadow: 0 0 6px rgba(red, .75);
    color: red;
    border-color: red;
  }

  &:focus {
    border-color: black;
  }

  &_orange {
    background-color: orange;
    color: black;
  }

  &_blue {
    background-color: $btnBlueBgColor;
    color: $btnBlueFontColor;
    border-color: $btnBlueBorderColor;

    &:focus {
      box-shadow: inset 0 0 6px rgba(white, .7);
    }

    &:disabled {
      opacity: 1;
      background-color: $btnBlueDisabledBgColor;
      border-color: $btnBlueDisabledBorderColor;
    }

    &:disabled:hover {
      //background-color: $btnBlueBgColor;
    }
  }

  &_pink {
    background-color: $btnPingBgColor;
    color: $btnPinkFontColor;
  }

  &_lightBlue {
    background-color: $btnLightBlueBgColor;
    color: $btnLightBlueFontColor;
  }

  &_whiteBlue {
    color: $btnWhiteBlueFontColor;
    background-color: $btnWhiteBlueBgColor;
    border-color: $btnWhiteBlueBorderColor;

    &:disabled {
      opacity: 1;
      color: $btnWhiteBlueDisableFontColor;
    }

    &:focus {
      border-width: 2px;
      border-color: $btnWhiteBlueBorderColor;
    }
  }

  &_gray {
    background-color: $btnGrayBgColor;
    color: $btnGrayFontColor;
  }

  &_grayAlert {
    background-color: $btnGrayBgColor;
    color: rgba(0, 0, 0, 1);
    border: 1px solid #92ABC8;

    &:active {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &_white {
    background-color: $btnWhiteBgColor;
    color: $btnWhiteFontColor;
  }

  &_noFill {
    background-color: $btnNoFillBgColor;
    color: $btnNoFillFontColor;
    border: 1px solid $btnNoFillBorderColor;
  }

  &_green {
    background-color: $btnGreenBgColor;
    color: $btnGreenFontColor;
    border: 1px solid $btnGreenBorderColor;

    &:disabled {
      background: $btnGreenDisabledBgColor;
      border: 1px solid $btnGreenDisabledBorderColor;
    }
  }

  &_red {
    background-color: $btnRedBgColor;
    color: $btnRedFontColor;
    border: 1px solid $btnRedBorderColor;

    &:disabled {
      background: $btnRedDisabledBgColor;
      border: 1px solid $btnRedDisabledBorderColor;
    }
  }

  &_redAlert {
    background-color: transparent;
    color: $btnRedBorderColor;
    border: 2px solid $btnRedBorderColor;

    &:disabled {
      background: transparent;
      border: 2px solid $btnRedDisabledBorderColor;
    }

    &:active {
      background: $btnRedBorderColor;
      border: 2px solid $btnRedBorderColor;
      color: $btnRedFontColor;
    }
  }

  &_blueAlert {
    background-color: transparent;
    color: $btnBlueBorderColor;
    border: 2px solid $btnBlueBorderColor;

    &:disabled {
      background: transparent;
      border: 2px solid $btnRedDisabledBorderColor;
    }

    &:active {
      background: $btnBlueBorderColor;
      border: 2px solid $btnBlueBorderColor;
      color: $btnRedFontColor;
    }
  }

  &_rounded {
    border-radius: 9999px; // идеальное боковое закругление при любой высоте
  }
}
