@import 'src/styles/mixins';
@import 'src/styles/variables';

.searchSection {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 30px 18px 10px 18px;
  border-radius: inherit;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 36px;

    h3 {
      font-family: $RalewayFont;
      font-weight: 700;
      color: $accentColor;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__buttonFilters {
    margin-left: 25px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    height: 30px;

    font-family: $RalewayFont;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  &__buttonItem, &__dropdown {
    min-width: 130px;
    margin: 0 5px;
    font-family: $RalewayFont;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;

    &_active {
      color: $redColor;
    }
  }

  &__table {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
    background-color: whitesmoke;
    height: calc(100% - 50px); // px вычисляется padding-top + padding-bottom
    overflow-y: auto;

    border: 1px solid #023E8A;
    border-radius: 10px;

    & > div { // применяем отступ ко вложенным на один уровень дивам
      margin: 5px;
    }
  }
}
