@import 'src/styles/mixins';

.links {
  margin: 0 auto;
  padding-top: 15px;
  @include flex-center('column');
  flex-wrap: wrap;
  width: 40px;

  &__item {
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    overflow: hidden;
    text-align: center;

    // небольшая анимация для ховера
    filter: invert(0);
    transition: filter;
    transition-duration: .6s;

    &:hover {
      filter: invert(25%);
    }
  }

  &__img {
    width: 30px;
  }
}
