@import 'src/styles/mixins';
@import 'src/styles/variables';

.requestSection {
  @include flex-center(column);
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: $accentColor;

  &__subWrapper {
    position: relative;
  }

  &__wrapper {
    position: relative;
    z-index: 20;
    background: #FFFFFF;
    border: 1px solid rgba(2, 62, 138, 0.54);
    box-shadow: $cardsShadow;
    width: 500px;
    height: 663px;
    padding: 0;
    border-radius: 25px;
  }

  &__header {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-family: $RalewayFont;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: #023C85;
    padding-top: 15px;
    background-color: transparent;
  }

  &__formsWrapper {
    margin-top: 45px;
  }

  &__mapsWrapper {
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }

  &__label, &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  &__label {
    font-family: $RalewayFont;
    color: $accentColor;
  }

  &__bottomTabsPanel {
    position: absolute;
    left: 0;
    z-index: 10;
    bottom: -40px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
  }

  &__bottomTabsItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    font-family: $RalewayFont;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: #ffffff;
    padding-bottom: 3px;
    height: 51px;
    width: 150px;
    border: 2px solid white;
    border-radius: 0 0 20px 20px;
    background-color: rgba(whitesmoke, 0);

    transition-duration: .4s;
    transition-property: height, background-color, color;
    cursor: pointer;
    user-select: none;

    &:hover {
      height: 58px;
    }

    &_active {
      height: 58px;
      background-color: rgba(whitesmoke, 1);
      color: $accentColor;
    }
  }
}

